# Python data types

In [1]:
a = 7
b = 7.0

print(a,b)

7 7.0

In [3]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [9]:
for i in range(0,a):
    print(i)

0
1
2
3
4
5
6

In [10]:
a+b

14.0

In [12]:
firstname = 'Jabir'
lastname = 'Kangarli'

firstname + ' ' + lastname

'Jabir Kangarli'

In [13]:
firstname * 3

'JabirJabirJabir'

In [14]:
%whos

Variable    Type     Data/Info
------------------------------
a           int      7
b           float    7.0
firstname   str      Jabir
i           int      6
lastname    str      Kangarli

In [18]:
# Exercise

# convert across data types
s1 = '4'
s2 = '4.7'
n1 = 5
n2 = 5.8
print(type(s1))
print(type(s2))
print(type(n1))
print(type(n2))
# convert strings to integers
print(int(s1))
print(int(float(s2)))
#convert strings to floats
print(float(s1))
print(float(s2))
# convert the numbers into strings
print(str(n1))
print(str(n2))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
4
4
4.0
4.7
5
5.8

### List and numpy arrays

In [1]:
import numpy as np

In [2]:
aList = [0,1,2,3,4,5]
type(aList)

list

In [3]:
listlist = [3, ['3','4','5'], 5.5,[4,5,6]]
listlist

[3, ['3', '4', '5'], 5.5, [4, 5, 6]]

Better to do it this way as below since we can comment

In [5]:
listlist = [
    3,              # a number
    ['3','4','5'],  # a list of strings
    5.5,            # another float number
    [4,5,6]
    ]
listlist

[3, ['3', '4', '5'], 5.5, [4, 5, 6]]

In [8]:
aList = [0,1,2,3,4,5]
sList = ['0','1','2','3','4','5']

# concatenates aList and sList
aList + sList

[0, 1, 2, 3, 4, 5, '0', '1', '2', '3', '4', '5']

In [12]:
# copies the list 3 times
aList * 3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [16]:
# converting a list into numpy array
alist_np = np.array(aList)
print(type(alist_np))
print(type(aList))
print(aList)
print(alist_np)

<class 'numpy.ndarray'>
<class 'list'>
[0, 1, 2, 3, 4, 5]
[0 1 2 3 4 5]

In [17]:
# if you multiply list to 3, it copies the list 3 times
aList * 3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [18]:
# if you multiply numpy array to 3, it multiplies 
alist_np * 3

array([ 0,  3,  6,  9, 12, 15])

In [21]:
# let's try aList +3 
# we cannot concat data type int to data type list
aList + 3

TypeError: can only concatenate list (not "int") to list

In [22]:
# to add integer to list, we have to do as below - add integer to list and then add to the existing list
aList + [3]

[0, 1, 2, 3, 4, 5, 3]

In [47]:
listlist = [3, ['3','4','5'], 5.5,[4,5,6]]

In [74]:
n = 0 
for i in listlist:
    listtype = type(i)
    print(f"List element {n} is {i} and is of type {listtype}")
    n = n + 1

List element 0 is 3 and is of type <class 'int'>
List element 1 is ['3', '4', '5'] and is of type <class 'list'>
List element 2 is 5.5 and is of type <class 'float'>
List element 3 is [4, 5, 6] and is of type <class 'list'>

In [81]:
# OR
for item in range(len(listlist)):
    print(f"List element {item} is {listlist[item]} and is of type {type(item)}")

List element 0 is 3 and is of type <class 'int'>
List element 1 is ['3', '4', '5'] and is of type <class 'int'>
List element 2 is 5.5 and is of type <class 'int'>
List element 3 is [4, 5, 6] and is of type <class 'int'>

### Enumarate function

In [85]:
s = 'Jabir'
for index, letter in enumerate(s):
    print(index, letter)

0 J
1 a
2 b
3 i
4 r

In [92]:
s = 'Jabir'
for idx, item in enumerate(listlist):
    
    #turn list type into string to be able to print respective type 
    #and slice from index 8 until the end to remove class ' from the beginning in the output
    # check the next chunk of code to remove apastrophe " '> " to remove after type
    
    t = str(type(item))[8:]
    
    # Find the ' in the index
    apost = t.find("'")
    
    # by using {t[:apost]}, I am telling to python that I want to get t until ' is find in the list index 
    # i.e int'> - it takes only int and removes '> part
    print(f"List element {idx} is {item} and is of type {t[:apost]}.")

List element 0 is 3 and is of type int.
List element 1 is ['3', '4', '5'] and is of type list.
List element 2 is 5.5 and is of type float.
List element 3 is [4, 5, 6] and is of type list.

In [89]:
t[8:]
apost = t.find("'")
apost

4

In [67]:
for i in listlist:
    if type(i) == 'int'
    print("integer")

SyntaxError: invalid syntax (<ipython-input-67-59ccdea4f970>, line 2)